@import url('fonts/fonts.css');


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    max-height: 100svh;
    max-width: 100vw;
    font-family: 'red hat', sans-serif;
    font-weight: 500;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
    margin: 0 !important;
    padding: 0 !important;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /*global colors*/
:root{
  --pale-blue:hsl(225, 100%, 94%);
  --light-pale-blue:hsl(225, 100%, 98%);
  --desaturated-blue:hsl(224, 23%, 55%);
  --bright-blue:hsl(245, 75%, 52%);
  --dark-blue:hsl(223, 47%, 23%);

}
  
body{
  background-color: var(--pale-blue) !important; 
  background-image: url('images/pattern-background-desktop.svg');
  background-size: 100% 40svh; 
  background-position: top;
  background-repeat: no-repeat;
}

.card-container{
  width: 350px;

}
.image-fluid{
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  width: 100%;
}
.card-content{
  background-color: var(--light-pale-blue);
  height: 370px;
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4em;
}

.title{
  color:var(--dark-blue);
  font-weight: 700 !important;
  font-size: 1.5rem;
}

.content{
  color: var(--desaturated-blue);
  font-size: 1rem;
  line-height: 1.5;
}

.plan{
  background-color: hsl(227, 100%, 96%);
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 0.95rem;
}

.subscription :nth-child(1){
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 700;
}

.subscription :nth-child(2){
  color: var(--desaturated-blue);
  font-size: 1rem;
}

.plan :nth-child(3) > a {
  color: var(--bright-blue);
  font-size: 1rem;
  font-weight: 500;
}

.plan :nth-child(3) a:hover {
  color: var(--bright-blue);
  text-decoration: none;
}

.payment{
  width: 320px;
  font-weight: bold !important;
  font-size: 1rem;
  background-color: var(--bright-blue) !important;
  color: var(--pale-blue) !important;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 0.75rem;
}

.payment:hover{
  background-color: hsl(245, 63%, 57%) !important;
}

.cancel{
  color: var(--desaturated-blue);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 15px;
}

.cancel:hover{
  color: var(--dark-blue);
  text-decoration: none;
}